.listed-item-content { 
    border: 3px solid black;
    position: relative;
    height: 150px;
}

.listed-item-image {
    display: inline-block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.listed-item-text {
    display: inline-block;
    position: absolute;
    padding-top: 50px;
    padding-left: 160px;
    max-width: 100%;
    max-height: 100%;
}