
html, body {
    margin: 0%;
    background-color: rgb(49, 54, 83);
}

.roboto-font { 
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

#left-box {
    z-index: 100;
    width: 15%;
    left: 5px;
    height: 95%;
    position: fixed;
    border-radius: 20px;
    background-color: rgb(45, 42, 68);
    text-align: center;
}

#selected-item-image {
    top: 15px;
    border-radius: 15px;
    position: relative;
    max-width: 50%;
}

#selected-item-name {
    position: relative;
    text-align: center;
    color:rgb(121, 164, 255);
}

#selected-item-price {
    text-align: center;
    font-size: medium;
}

#selected-item-condition { 
    text-align: center;
    font-size: medium;
}

#right-box { 
    position: relative;
    left: 15%;
    width: 85%;
}

.listed-item-content { 
    position: relative;
    margin: 20px;
    border-radius: 20px;
    height: 150px;
    background-image: linear-gradient(
        to bottom right,rgb(99, 67, 175), rgb(43, 145, 204));
}

.listed-item-image {
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    max-width: 90%;
    max-height: 90%;
}

.listed-item-header {
    display: inline-block;
    position: absolute;
    left: 150px;
    top: 20px;
    max-width: 100%;
    max-height: 100%;
} 

.listed-item-header:hover {
    text-decoration: underline;
}

.listed-item-desc { 
    display: inline-block;
    position: absolute;
    font-size: medium;
    left: 150px;
    top: 55px;
}

.listed-item-website-type-image {
    position: relative;
    top: 4%;
    left: 96%;
    border-radius: 15%;
    background-color: white;
}